version: '3'
name: ${PROXY_ALIAS}
services:
  cmd-exec:
    restart: always
    image: ${DK_CMD_EXEC_IMAGE:-public.ecr.aws/n5k3t9x2/cmd_exec}:${DK_CMD_EXEC_TAG:-latest}
    # For local development, comment out 'image' above and uncomment 'build' below:
    # build: ./cmd_exec
    environment:
      - VERBOSE=${VERBOSE}
      - FLASK_ENV=debug
    volumes:
      - ./cmd_exec/logs:/usr/src/app/logs
      - ./cmd_exec/src/keys:/root/.keys
      - ./home:/home
    command: ["python", "src/cmd_exec.py"]

  vault:
    restart: always
    image: ${DK_VAULT_IMAGE:-hashicorp/vault}:${DK_VAULT_TAG:-latest}
    cap_add:
          - IPC_LOCK
    volumes:
      - ./vault:/vault
    environment:
      - VAULT_ADDR=https://0.0.0.0:8200
      - VAULT_API_ADDR=https://0.0.0.0:8200
      - VAULT_ADDRESS=https://0.0.0.0:8200
    command: vault server -config=/vault/config/local.json

  outpost:
    restart: always
    image: ${DK_OUTPOST_IMAGE:-public.ecr.aws/n5k3t9x2/outpost}:${DK_OUTPOST_TAG:-latest}
    # For local development, comment out 'image' above and uncomment 'build' below:
    # build: ./outpost
    volumes:
      - ./outpost/logs:/usr/src/app/logs
      - ./outpost/jobs:/app/jobs
      - ./outpost/sidecar:/app/sidecar
      - ./home:/home
    environment:
      - PYENV_ROOT=/app/sidecar/pyrunner/pyenv
      - PYRUNNER_ROOT=/app/sidecar/pyrunner
      - DAGKNOWS_URL=${DAGKNOWS_URL}
      - DAGKNOWS_PROXY_URL=${DAGKNOWS_PROXY_URL}
      - DAGKNOWS_PROXY_ID=${PROXY_SESSION_ID}
      - DAGKNOWS_EXECSWS_URL=${DAGKNOWS_EXECSWS_URL}
      - RECONNECT_TIMER=5
      - VERBOSE=${VERBOSE}
    command: ["/app/main"]
